<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Debug builds only: the e2e suite seeds words through this instead of typing
             each one into the Add screen. -->
        <activity
            android:name=".debug.SeedWordsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
